html.snap-page {
  scroll-snap-type: y proximity;
  scroll-padding-block-start: var(--site-header-bar-height, 0px);
  scroll-behavior: smooth;
  overflow-y: auto;
}

.snap-panel {
    scroll-snap-align: start;
    scroll-margin-block-start: var(--site-header-bar-height, 0px);
    scroll-snap-stop: normal;
}

.snap-panel--full {
    min-block-size: 100svh;
}

.snap-panel--large {
    min-block-size: 75svh;
}